@using WebApplication10.Models
@model HiddenDemoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostHidden</title>
</head>
<body>
    <div> 
        <h1> You posted @Model.FirstName @Model.LastName</h1>
    </div>
</body>
</html>
